<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        h5{
            color:gray;
            margin-top: 50px;
        }
        .navbar {
            border: currentColor;
            border-image: none;
            background-color: rgb(67, 175, 92);
            margin-bottom: 50px
        }

        .navbar-fixed-top {
            box-shadow: 1px 1px 1px 2px lightgrey;
            border: currentColor;
            border-image: none;
            background-color: rgb(67, 175, 92);
            margin-bottom: 50px;
        }

        .main-menu-item {
            font-size: 23px;
            text-decoration: none;
        }

        .image-container {
            -webkit-box-shadow: 1px 1px 1px 1px gainsboro;
            -moz-box-shadow: 1px 1px 1px 1px gainsboro;
            box-shadow: 1px 1px 1px 1px gainsboro;
            margin-bottom: 15px;
            padding: 8px;
            font-size: 9pt;
            border: solid 1px gainsboro;
            cursor: pointer;
        }

        .btn-predict {
            margin-top: 8px;
            width: 80%;
        }

        .navbar-brand {
            color: white !important;
            margin-right: 8px;
        }

        .sub-menu {
            text-align: center;
            padding-left: 20px;
            padding-right: 0px;
            height: 40px;
            padding-bottom: 10px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            border-radius: 8px;
            margin-top: 5px;
            border: solid 1px white;
            margin-right: 7px;
        }

            .sub-menu a {
                font-size: 14px !important;
                color: white !important;
                padding: 0;
                padding-top: 10px !important;
                margin-right: 8px;
                outline: none;
            }

        .active-menu {
            background-color: green;
        }

        #images {
            margin-top: 10px;
        }

        #predictionModal {
            text-align: center;
        }

        #prediction-table {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
            width: 100%;
            color: dimgray;
            margin-top: 8px;
        }

        td {
            padding: 8px;
            border: solid 1px gainsboro;
            text-align: left;
        }

        tr:hover {
            background-color: whitesmoke;
        }

        .bar {
            background: orange;
            padding: 0 0.15rem;
            color: transparent;
        }

        .modal {
            position: fixed;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%);
            overflow: hidden;
        }

        .img-thumbnail {
            margin-bottom: 0;
        }

        #add-more-sample-images {
            text-align: center;
            max-height: 20px;
            border-bottom: 5px solid green;
            margin-bottom: 70px;
        }

        .arrow-down {
            font-size: 48px !important;
            color: green;
            cursor: pointer;
            margin-bottom: 15px;
            margin-top: -5px;
        }
        .fa-chevron-circle-down
        {
            background-color:white;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand main-menu-item" href="/home">Image Classifier</a>
            </div>
            <div class="navbar-collapse collapse">
                <div id="div_options">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="predict active-menu sub-menu" id="predict"><a class="navbar-brand" href="/home">Sample Images</a></li>
                        <li class="sub-menu" id="stats"><a class="navbar-brand" id="upload-image" style="" href="javascript:void(0)">Upload Image</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
